<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Slave-01</name>
  <description>Slave for C jobs</description>
  <remoteFS>/home/jenkins-slave-01</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.2">
    <host>172.31.23.255</host>
    <port>22</port>
    <credentialsId>d4e44e3b-3ba2-435b-bcdd-a19ef877645b</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>CJob</label>
  <nodeProperties/>
</slave>