<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave-02</name>
  <description>this is for java jobs</description>
  <remoteFS>/home/jenkins-slave-02</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.2">
    <host>172.31.16.127</host>
    <port>22</port>
    <credentialsId>428187dc-be31-4775-8f33-c3eed8714fd9</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Java</label>
  <nodeProperties/>
</slave>